@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
#btnRedhover:hover {
  background: #ecbfc0 !important;
  color: #141414 !important;
}
.watchlist-detail,
.movie-detail,
.movie-history,
.movie-search,
.movie-content,
.create-profile,
.edit-profile,
.watchlist-edit,
.watchlist-create,
.login {
  width: 100%;
  background: #161616;
  min-height: 100vh;
}
.middle-screen{
  display: flex;
  justify-content: center;
  align-items: center;
}
::v-deep .ant-input::placeholder {
  color: rgba(217, 217, 217, 0.3);
  font-family: 'Lato';
  font-weight: 400;
  font-size: 16px;
}
::v-deep span.ant-input-prefix > i > svg {
  font-size: 21px;
}
.bg-gray{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 320px;
  right: 0;
  z-index: 999;
  
  background: rgba(90, 90, 90, .5);
}